

<header class="header brand">
   
   <div class="logo">
      <a href="/"><img src="/images/logotipo.webp" alt="Logotipo" class="logotipo"></a>
    </div>
    <nav>
       <a href="/">Home</a>
       <a href="/about">Sobre Mim</a>
       <a href="/servicos">Serviços</a>
       <a href="/depoimentos">Depoimentos</a>
       <a href="/contactos">Contactos</a>
       <a href="/contactos" class="btn">Fale Comigo</a>
    </nav>

{{!-- Dropdown menu --}}
<div class="dropdown">
  
   <img class="dropbtn" src="/images/menu_24.png">
   
   <div class="dropdown-content">
      <a href="/">Home</a>
      <a href="/about">Sobre Mim</a>
      <a href="/servicos">Serviços</a>
      <a href="/depoimentos">Depoimentos</a>
      <a href="/contactos">Contactos</a>
      <a href="/contactos" class="btn">Fale Comigo</a>
  </div>
</div>
</header>

