

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro 404 — Página Não Encontrada</title>
    <meta name="description" content="A página que procura não existe.">

</head>
<body>
    <maim>
        <h>Página não existe</h1>
    </main>
</body>
</html>