
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Obrigado - José Baptista Consulting</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="thank-you-container">
        <h1>{{ title }}</h1>
        <p>Recebemos a sua mensagem com sucesso. Entraremos em contacto o mais breve possível.</p>
        <a href="/" class="btn-home">Voltar ao Início</a>
    </div>
</body>
</html>